body{
  font-family: "Times New Roman";
  h2{
    //text-align: center;
    //color: #733838;
    color: brown;
    margin-left: 2%;
  }
}

div{
  .card{
    border: none;

    .card-header{
      border-radius: calc(.25rem - 1px) calc(.25rem - 1px) calc(.25rem - 1px) calc(.25rem - 1px);
      border: 1px solid rgba(0,0,0,.125);
      background-color: brown;

      a{
        color: white;
      }
    }

    .card-body{

      ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
      }

    }
  }
}