html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.slider {
    width: 50%;
    margin: 100px auto;

    text-align: center;

    border-style: solid;
    border-color: brown;
    border-bottom-width: 5px;
}

.slick-slide {
    margin: 10px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}